/*_____AGENDA_____*/

.agenda {
    max-width: 60em;
    margin: auto;
    clear: both;
}

.agenda .agenda-date, 
.agenda .agenda-beschrijving, 
.agenda .agenda-prijs, 
.agenda .agenda-bestel { 
    width: 9em; 
}

.agenda .agenda-date .dayofmonth {
    width: 40px;
    font-size: 36px;
    line-height: 36px;
    float: left;
    text-align: right;
    margin-right: 10px; 
} 
.agenda .agenda-date .shortdate {
    font-size: 0.75em; 
}

.agenda .agenda-time { width: 9em; } 

/*.agenda .agenda-events {  } 
.agenda .agenda-events .agenda-event {  }*/


/*_____WINKELWAGEN____*/

.winkelwagen {
    max-width: 40em;
    margin: auto;
}


/*_____MAIN LAYOUT_____*/

.navbar {
    z-index: 100;
}

html, body {
    background: url(../Images/andywarhol-soup.jpg) center center fixed;
    background-size: 20em;
}

#body {
    background-color: #efeeef;
    min-height: 80vh;
    box-shadow: 0 0 0.5em #888888;
    z-index: 0;
    padding-bottom: 1em;
    padding-top: 3.5em;
}

.toptext {
    padding: 0.5em 0 0.2em 0;
    font-size: 2.5em;
    text-align: center;
}

/*#background {
    background-color: maroon;
}*/

/*_____OVER_____*/
#gmap_canvas img {
    max-width: none !important;
    background: none !important
}

#gmap_canvas {
    width:100%;
    height: 100%;
}

/*_____BESTEL INFO_____*/
img {
    width: 100%;
    height: auto;
}

.ondertekst{
    text-align: center;
    line-height: 0.8em;
    font-size: 1.2em;
}

#beschrijving {
    text-align: justify;
}

.wie {
    text-align: center;
    padding-bottom: 0.3em;
}

.intrinsic-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.intrinsic-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*_____FORMS_____*/
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

fieldset legend {
    display: none;
}

fieldset ol {
    padding: 0;
    list-style: none;
}

fieldset ol li {
    padding-bottom: 5px;
}

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

input:focus, textarea:focus {
    border: 1px solid #7ac0da;
}

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

/*_____VALIDATION ERRORS_____*/
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/*_____MOBIEL_____*/
@media only screen and (max-width: 850px) {

}