@{
    /* github change 3 */
    Page.Title = "Betalen";
    Layout = "_SiteLayout.cshtml"; // Dit is de standaard SiteLayout.cshtml, deze moeten we zelf aanpassen naar onze wensen

    // Open database connection
    var db = Database.Open("Database");

    // Variables
    int bestelNr = 0;
    decimal total = 0m;
    bool betaald = false;

    // GET request
    if (!IsPost)
    {
        if (!Request.QueryString["id"].IsEmpty() && Request.QueryString["id"].IsInt())
        {
            // BestelNr from GET request value
            bestelNr = Convert.ToInt32(Request.QueryString["id"]);

            // Eerst checken of bestelling misschien al is betaald
            var statementBetaald = "SELECT betaald FROM Bestellingen WHERE id = @0"; /* <- bestel ID vanuit de GET of POST */
            betaald = db.QueryValue(statementBetaald, bestelNr);

            if (betaald == false)
            {
                // Loop through all tickets that belong to this bestelling
                foreach (var ticket in db.Query("SELECT * FROM Tickets WHERE bestel_nr = @0", bestelNr))
                {
                    var korting = ticket.kindOf65plus;
                    var concertId = ticket.concertId;

                    var prijsData = "SELECT prijs FROM Concerten WHERE id = @0";
                    var prijs = db.QueryValue(prijsData, concertId);

                    if (korting)
                    {
                        total += (prijs / 10) * 9;
                    }
                    else
                    {
                        total += prijs;
                    }

                }
            }
            else
            {
                Validation.AddFormError("Bestelling is al betaald!");
            }
        }
        else
        {
            Response.Redirect("~/Winkelwagen.cshtml");
        }
    }

    // Validation
    Validation.RequireFields("bestelling", "pay");

    // POST request
    if (IsPost)
    {
        if (Validation.IsValid())
        {
            bestelNr = Convert.ToInt32(Request.Form["bestelling"]);

            var betaalStatement = "UPDATE Bestellingen SET betaald = 1 WHERE id = @0";
            db.Execute(betaalStatement, bestelNr);

            Response.Redirect("~/TicketGenereren.cshtml?id=" + bestelNr);
        }
    }
}
<div id="body" class="container">
    <h2 class="toptext">Betalen</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 payment">
            @Html.ValidationSummary()
            <h3 class="centertext">Bedrag: &euro;@total</h3>
            <br />
            <p class="centertext">Kies uw bank</p>
            <form method="post">
                <p class="centertext">
                    <select name="bank">
                        <option value="ING">ING</option>
                        <option value="Rabobank">Rabobank</option>
                        <option value="ABNamro">ABN Amro</option>
                        <option value="Knab">Knab</option>
                        <option value="deltalloyd">Delta Lloyd</option>
                        <option value="sns">SNS Bank</option>
                        <option value="AEGON">AEGON Bank</option>
                    </select>
                </p>
                <br />
                <input type="hidden" name="bestelling" value="@bestelNr" />
                <input type="submit" class="btn btn-danger btn-block" name="pay" value="Betalen" />
            </form>
            <br />
            <img src="Images/pay-online.jpg" alt="online betalen" width="50" height="50" />
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
