@{
    Page.Title = "Ticket Scannen";
    Layout = "_SiteLayout.cshtml";

    // Open database connection
    var db = Database.Open("Database");

    //variables
    var ticketID = 0;
    var isBetaald = false;
    var message = "Ticket niet gescand";

     
    if (!Request.QueryString["id"].IsEmpty() && Request.QueryString["id"].IsInt()) 
    {
        //Read URL
        ticketID = Convert.ToInt32(Request.QueryString["id"]);
        message = "Ticket is gelezen";
        
        //SQL
        var statement = "SELECT bestel_nr FROM Tickets WHERE id = @0";
        var data = db.QueryValue(statement, ticketID);

        var statement2 = "SELECT * FROM Bestellingen WHERE id = @0";
        var data2 = db.QuerySingle(statement2, data);

        if (data2 != null)
        {
            //Check payment status 
            isBetaald = data2.betaald;
            if(isBetaald == false)
            {
                message = "Ticket is nog niet betaald";
            }
            else if(isBetaald == true)
            {
                // Check if ticket is already used


                //Set ticket used
                message = "Ticket is betaald en ingescand. Veel plezier bij het concert!";
                db.Execute("UPDATE Tickets SET gebruikt = 1 WHERE id = @0", ticketID);
            }
        }
    }

}

<p>Ticket betaald: @isBetaald</p>
<p>@message</p>