@{
    Page.Title = "Winkelwagen";
    Layout = "~/_SiteLayout.cshtml";

    // Open database connection
    var db = Database.Open("Database");

    List<Ticket> cart = new List<Ticket>();

    if (Session["cart"] != null)
    {
        cart = (List<Ticket>)Session["cart"];
    }
}
<h2>Winkelwagen</h2>
@if (cart.Any())
{
    // Show all tickets in cart
    cart.Sort((t1, t2) => t1.Concert.CompareTo(t2.Concert));
    foreach (Ticket ticket in cart)
    {
        var result = db.QuerySingle("SELECT * FROM Concerten WHERE id = @0", ticket.Concert);
        var concertName = result.naam;
        var concertPrice = result.price;

        if (ticket.Korting)
        {

        }
        else
        {

        }
    }
}
else
{
    <p>
        Geen tickets in winkelwagen
    </p>
}