@{
    Page.Title = "Zaal Toevoegen";
    Layout = "_SiteLayout.cshtml"; // Dit is de standaard SiteLayout.cshtml, deze moeten we zelf aanpassen naar onze wensen

    // Open database connection
    var db = Database.Open("Database");

    // Validation (misschien extra validatie? IsInt() etc...)
    Validation.RequireField("numberOfSpots", "U moet het aantal plekken in de zaal aangeven");

    // Handle the POST request
    if (IsPost)
    {
        if (Validation.IsValid())
        {
            // Read POST form values
            var numberOfSpots = Request.Form["numberOfSpots"];

            // SQL statement
            var statement = "INSERT INTO Zalen (aantal_plekken) VALUES (@0)";
            db.Execute(statement, numberOfSpots);

            // Redirect to concerten toevoegen
            Response.Redirect("~/ConcertToevoegen.cshtml");
        }
    }
}
<div id="body" class="container">
    <h2 class="toptext">Zaal toevoegen</h2>
    <hr />
    @Html.ValidationSummary()
    <form method="post">
        <fieldset>
            <legend>Zaal informatie</legend>
            <p class="centertext">
                <label for="numberOfSpots">Aantal plekken:</label>
            </p>
            <p class ="centertext">
                <input type="number" name="numberOfSpots" min="1" />
            </p>
            <br />

            <p class="centertext">
                <input type="submit" class="btn btn-danger" value="Zaal toevoegen" />
            </p>
            <p class="centertext">
                * Een zaalnummer wordt automatisch toegewezen
            </p>
        </fieldset>
    </form>
    <br />
    <p class="centertext">
        <a href="~/Beheer.cshtml" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Terug naar beheer</a>
    </p>
</div>
